.profile-page {
  width: 78%;
  display: flex;
  padding-top: 40px;
  justify-content: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
}

.profile-content {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  max-width: 1250px;
  align-items: flex-start;
}

.profile-sidebar {
  min-width: 240px;
  max-width: 400px;
  flex-shrink: 0;
  position: fixed;
  top: 15vh;
  left: 11%;
  z-index: 10;
}

.profile-posts-list  {
  flex: 1;
  min-width: 0;
  margin-left: 335px;
}

.profile-posts-list.own-profile {
  margin-top: 7.2vh;
}

.profile-posts-list.other-profile {
  margin-top: 0.7vh;
}

.profile-post-creator {
  flex: 1;
  min-width: 0;
  margin-top: 68px;
  padding-left: 450px;
  width: 100%;
  max-width: 1250px;
}

.profile-posts-header {
  margin-top: 1rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.profile-posts-empty {
  text-align: left;
  color: #666;
  font-size: 1.2rem;
  font-style: italic;
}