/* src/pages/Home.css */
.container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.home-title {
  font-size: 40px;
  font-weight: 800;
  text-shadow: 0px 2px 2px rgba(65, 63, 102, 0.3);
  color:#2a315b;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #2a315b;
}

.actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.button:hover {
    color: #007bff;
}

